<div class="password-strength-meter">
  <div class="strength-bar-container">
    <div
      class="strength-bar"
      [style.width]="getProgressWidth()"
      [style.background-color]="getProgressColor()"
      [class.calculating]="isCalculating">
    </div>
  </div>

  <div class="strength-info" *ngIf="showLabel && strength">
    <span class="strength-label" [style.color]="getProgressColor()">
      {{ strength.category }}
    </span>
    <span class="strength-score">
      {{ strength.score }}%
    </span>
  </div>

  <div class="calculating-indicator" *ngIf="isCalculating">
    <span class="spinner"></span>
    <span class="text">Calculating...</span>
  </div>
</div>
