<div class="status-widget" [style.border-left-color]="widget.colorCode">
  <div class="widget-header">
    <span class="widget-name">{{ widget.name }}</span>
    <div class="widget-icon" [style.background-color]="widget.colorCode + '15'">
      <i class="fa-solid" [ngClass]="getWidgetIcon()" [style.color]="widget.colorCode"></i>
    </div>
  </div>

  <div class="widget-body">
    <div class="count-row">
      <span class="count-number">{{ widget.currentCount }}</span>
      <div class="trend-badge" *ngIf="showTrends && widget.trend !== 'stable'" [ngClass]="getTrendClass()">
        <i class="fa-solid" [ngClass]="getTrendIcon()"></i>
        <span *ngIf="showPercentages">{{ getFormattedPercentage() }}</span>
      </div>
    </div>

    <div class="widget-meta">
      <span class="previous-count" *ngIf="widget.previousCount !== undefined">
        vs {{ widget.previousCount }} previous
      </span>
      <span class="avg-time" *ngIf="widget.averageTimeInStatus">
        <i class="fa-regular fa-clock"></i> {{ getFormattedAverageTime() }}
      </span>
    </div>
  </div>

  <div class="widget-footer" *ngIf="widget.isFinal">
    <span class="final-badge">
      <i class="fa-solid fa-circle-check"></i> Final Status
    </span>
  </div>
</div>
